@font-face {
  font-family: 'Exo';
  src: url('./fonts/Exo20-Thin.woff2') format('woff2'),
       url('./fonts/Exo20-Thin.woff') format('woff');
  font-display: swap;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #000;
  background-image:
    linear-gradient(
      rgba(0,0,0,.5),
      transparent,
      rgba(0,0,0,.5)
    ) ,
    url(./img/bg.png);
  background-size: cover, 70px 140px;
}

.app__title {
  width: 100%;
  margin: 0 0 32px;
  padding: 0 16px;
  box-sizing: border-box;
  text-align: center;
  font: 36px/1 Exo, Arial, sans-serif;
  color: #FFF;
}

.app__group {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.app__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media (max-width: 730px) {
    flex-direction: column;
  }
}
