.product {
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 320px;
  margin: 0 40px 40px;
}

.product__card {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 480px;
  margin-bottom: 12px;
  padding: 20px 50px 16px;
  box-sizing: border-box;
  cursor: pointer;
  color: #666;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 50px solid transparent;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3Cpath fill='%23F2F2F2' stroke='%232EA8E6' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
  }

  &::after {
    bottom: 4px;
    left: 4px;
    display: block;
    width: 260px;
    height: 270px;
    background-image: url(./img/cat.jpg);
    background-size: 260px 276px;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    border-radius: 0 0 0 8px;

    @media (min-resolution: 192dpi) {
      background-image: url(./img/cat@2x.jpg);
    }
  }

  &--disabled::after {
    opacity: .5;
  }
}

.product__card:hover::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3Cpath fill='%23F2F2F2' stroke='%232EA8E6' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
}

.product__card--checked::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3Cpath fill='%23F2F2F2' stroke='%23D91667' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
}

.product__card--checked:hover::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3Cpath fill='%23F2F2F2' stroke='%23E52E7A' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
}

.product__input:disabled ~ .product__card::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3Cpath fill='%23F2F2F2' stroke='%23B3B3B3' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
}

.product__input:focus ~ .product__card::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3ClinearGradient id='linear-gradient'%3E%3Cstop offset='0%25' stop-color='%23D91667'/%3E%3Cstop offset='100%25' stop-color='%232EA8E6'/%3E%3C/linearGradient%3E%3Cpath fill='%23F2F2F2' stroke='url(%23linear-gradient)' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
  filter: drop-shadow(-5px -5px 10px hsla(335, 90%, 37%, .85)) drop-shadow(5px 5px 10px hsla(200, 90%, 40%, .85));
}
.product__input:checked:focus ~ .product__card::before {
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='480'%3E%3ClinearGradient id='linear-gradient'%3E%3Cstop offset='0%25' stop-color='%232EA8E6'/%3E%3Cstop offset='100%25' stop-color='%23D91667'/%3E%3C/linearGradient%3E%3Cpath fill='%23F2F2F2' stroke='url(%23linear-gradient)' stroke-width='4' d='M318 12v456a9.969 9.969 0 01-2.929 7.071A9.969 9.969 0 01308 478H12a9.969 9.969 0 01-7.071-2.929A9.969 9.969 0 012 468V43.504L43.504 2H308a9.969 9.969 0 017.071 2.929A9.969 9.969 0 01318 12z'/%3E%3C/svg%3E");
  filter: drop-shadow(5px 5px 10px hsla(335, 90%, 37%, .85)) drop-shadow(-5px -5px 10px hsla(200, 90%, 40%, .85));
}

.product__card-inner {
  position: relative;
  z-index: 1;
  padding-bottom: 280px;
}

.product__desc {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
}

.product__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 48px;
  line-height: 1.15;
  color: #000;
}

.product__taste {
  display: block;
  font-size: 24px;
}

.product__features {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.35;
}

.product__value {
  font-weight: bold;
}

.product__weight {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-top: auto;
  margin-left: auto;
  right: -45px;
  bottom: 0;
  border-radius: 50%;
  background: #1698D9;
  text-align: center;
  font-size: 42px;
  line-height: 1;
  color: #FFF;

  .product__card:hover & {
    background: #2EA8E6;
  }

  .product__card--checked & {
    background: #D91667;
  }
  .product__card--checked:hover & {
    background: #E52E7A;
  }

  .product__card--disabled &,
  .product__card--disabled:hover & {
    background: #B3B3B3;
    cursor: default;
  }
}

.product__weight-units {
  font-size: 21px;
}

.product__units {
  font-size: 21px;
}

.product__temptation {
  text-align: center;
  font-size: 13px;
  color: #FFF;

  .product--disabled & {
    color: #FFFF66
  }
}

.product__temptation-button {
  padding: 0;
  background-color: transparent;
  background-image: repeating-linear-gradient(
    to right,
    currentColor, currentColor 3px,
    transparent 0, transparent 5px);
  background-size: 89% 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  border: none;
  font: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: #1698D9;
  cursor: pointer;

  &:hover {
    color: #2EA8E6;
  }
}
